h2 {
    color: #505050;
    font-size: 40px;
}

.social {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    padding: 50px;
}

.icon-btn {
    width: 75px;
    height: 75px;
    border: 0;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
    font-size: 40px;
}

.twitter {
    color: #4099FF;
}

.facebook {
    color: #3B5998;
}

.google-plus {
    color: #DB5A3C;
}

.instagram {
    color: #5C3D2E;
}

.github {
    color: #4183C4;
}

.icon-btn:hover {
    transform: scale(1.10);
}

.twitter:hover {
    background-color: #4099FF;
    color: #FFFFFF;
}

.facebook:hover {
    background-color: #3B5998;
    color: #FFFFFF;
}

.google-plus:hover {
    background-color: #DB5A3C;
    color: #FFFFFF;
}

.instagram:hover {
    background-color: #5C3D2E;
    color: #FFFFFF;
}

.github:hover {
    background-color: #4183C4;
    color: #FFFFFF;
}